@import url('https://fonts.googleapis.com/css?family=Sofia');

.todo {
    /*margin: 3rem auto;*/
    /*padding: 0 1rem;*/
}

.cabecera {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    height: 8rem;
    padding: 1rem 3rem 0 3rem;
}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #4FC4EF, #1E96BE);
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    min-height: 5rem;
    box-shadow: 0 0.5rem 0.25rem gray;
}

.listmenu{
}

.listItem {
    /*display: inline-block;*/
    margin-right: 1rem;
}

.links{
    /*font-family: ;*/
    text-decoration: none;
    text-shadow: none;
    background-image: none;
    font-size: 2rem;
    color: black;
    margin-right: 1rem;
    margin-left: 0.5rem;
}

.links:hover{
    color: rgba(23, 17, 80, 0.65);
    text-decoration: underline;
    font-weight: bold;
}

.titulohead{
    background-image: none;
    font-size: 2.5rem;
    color: rgb(12, 0, 56);
    text-decoration: none;
}

.titulohead h1{
    display: inline;
    font-family: 'Sofia';
}

.anillos{
    float: right;
}

@media screen and (max-width: 950px) {
    .menu{
        /*flex-direction: column;*/
    }
    .titulohead {
        font-size: 1.5rem;
    }
    .links{
        font-size: 1.5rem;
        margin-right: 0.75rem;
        margin-left: 0.25rem;
    }
    .cabecera{
        height: 7rem;
    }
}

@media screen and (max-width: 750px){
    .menu{
        min-height: 3rem;
    }
    .links{
        font-size: 1.25rem;
    }
    .cabecera{
        height: 6rem;
    }
}

@media screen and (max-width: 620px){
    .menu{
        min-height: 3rem;
    }
    .links{
        font-size: 1rem;
    }
}

@media screen and (max-width: 520px){
    .menu{
        min-height: 2.5rem;
    }
    .cabecera{
        padding: 1rem 1.5rem 0rem 1.5rem;
        height: 5rem;
    }
    .titulohead{
        font-size: 1rem;
    }
    .links:first{
        margin-left: 0.5rem;
    }
    .links{
        font-size: 0.75rem;
        margin-right: 0.6rem;
        margin-left: 0.2rem;
    }
}

@media (max-width: 360px) {
    .menu{
        /*flex-direction: column;*/
        min-height: 2rem;
    }
    .titulohead {
        font-size: 0.9rem;
    }
    .links:first{
        margin-left: 0.5rem;
    }
    .links{
        font-size: 0.6rem;
        margin-right: 0.5rem;
        margin-left: 0.15rem;
    }
    .cabecera{
        height: 4rem;
        padding: 0.8rem 1rem 0rem 1rem;
    }
}